/* Big tablet to 1200px (widths smaller taht the 1140px row) */
@media only screen and (max-width: 1200px) {
}

/* Small tablet to big tablet: from 768px to 1023px */
@media only screen and (max-width: 1180px) {
  header,
  section:not(:nth-child(3)),
  footer {
    padding: 0 80px;
  }
}

@media only screen and (max-width: 1015px) {
  header,
  section:not(:nth-child(3)),
  footer {
    padding: 0 40px;
  }
}

@media only screen and (max-width: 935px) {
  header,
  section:not(:nth-child(3)),
  footer {
    padding: 0 20px;
  }
}

@media only screen and (max-width: 900px) {
  h1,
  h2,
  h3,
  p,
  a,
  li {
    font-size: 0.9rem;
  }
  header,
  section:not(:nth-child(3)),
  footer {
    padding: 0 20px;
    overflow: hidden;
  }
  header nav .logo {
    width: 120px;
  }
  header .hero-text-box h1 {
    font-size: 32px;
  }
  header .hero-text-box .btn.btn-full {
    font-size: 12px;
  }

  header .hero-text-box .btn.btn-ghost {
    font-size: 12px;
  }
}
