@media only screen and (max-width: 980px) {
  h2 {
    font-size: 1rem;
  }
  p,
  a,
  li {
    font-size: 0.9rem;
  }
  header,
  section:not(:nth-child(3)),
  footer {
    padding: 0 20px;
    overflow: hidden;
  }
  header nav .logo {
    width: 160px;
  }
  header nav .main-nav {
    display: none;
  }

  header nav .mobile-nav-icon {
    display: block;
    font-size: 42px;
  }
  header a {
    font-size: 0.6rem;
  }
  header nav .logo {
    width: 140px;
    margin-right: 8px;
  }
  header .hero-text-box h1 {
    font-size: 22px;
  }
  .section-features .row:nth-child(2) .col:not(:nth-child(1)) {
    margin-left: initial;
  }
  .section-features .row:nth-child(2) {
    flex-direction: column;
    margin: 52px;
  }
  .section-features .row:nth-child(2) div:not(:last-of-type) {
    margin-bottom: 52px;
  }

  /* todo steps */
  .section-steps .row:nth-child(2) {
    flex-direction: column;
  }
  .section-steps .row:nth-child(2) .col:nth-child(1) .app-screen {
    margin-left: initial;
    width: 50%;
  }
  .section-steps .row:nth-child(2) .col:first-of-type {
    text-align: center;
  }
  .section-steps .row:nth-child(2) .col:nth-child(2) .works-step div {
    margin-left: 12px;
  }
  .section-steps .row:nth-child(2) .col:nth-child(2) .works-step p {
    display: inline-block;
    margin-left: 80px;
  }
  .section-steps .row:nth-child(2) .col:nth-child(2) .btn-app img[alt^="App"] {
    width: 120px;
    margin: initial;
    padding: initial;
  }
  .section-steps .row:nth-child(2) .col:nth-child(2) .btn-app img[alt^="Play"] {
    width: 100px;
  }

  /* */

  .section-cities .row:nth-child(2) {
    flex-direction: column;
  }
  .section-cities .row:nth-child(2) .col:not(:nth-child(1)) {
    margin-left: initial;
  }
  .section-cities .row:nth-child(2) .col:not(:last-of-type) {
    margin-bottom: 52px;
  }

  .section-testimonials .row:nth-child(2) {
    flex-direction: column;
  }
  .section-testimonials .row:nth-child(2) .col:not(:nth-child(1)) {
    margin-left: initial;
  }
  .section-testimonials .row .col {
    width: auto;
  }

  .section-plans .row:nth-child(2) {
    flex-direction: column;
  }
  .section-plans .row:nth-child(2) .col {
    margin-bottom: 52px;
    width: auto;
  }

  /* form for mobile */

  .section-form .row:nth-child(2) .row:not(:nth-child(6)) {
    flex-direction: column;
    margin-bottom: 18px;
  }

  /* */

  footer .row:nth-child(1) .footer-nav li a {
    font-size: 10px;
    display: inline-block;
  }
  footer .row:nth-child(1) .footer-nav li:not(:first-child) a {
    margin-left: 8px;
  }
  footer .row:nth-child(1) .social-links {
    font-size: 10px;
  }
}
